.about-first {
  height: 60vh;
  width: 100%;
  background-color: #202020;
}

.about-second {
  height: 60vh;
  width: 100%;
  background-color: #ddd;
}

.about-third {
  height: 60vh;
  width: 100%;
  background-color: #202020;
}

.about-fourth {
  height: 60vh;
  width: 100%;
  background-color: #ddd;
}
