.about-first {
  height: 60vh;
  width: 100%;
  background-color: #202020;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1567427319/ugandan-safari-about-first_weufnh.png');
  background-size: cover;

  @include for-phone-only {
    height: 40vh;
  }
}

.about-second {
  height: 80vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1567423389/ugandan-safari-about-stones_cv8o4x.png');
  background-size: cover;
}

.about-third {
  height: 80vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1567423233/ugandan-safari-about-leaf_tibdfh.png');
  background-size: cover;
}

.about-fourth {
  height: 80vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1567423389/ugandan-safari-about-stones_cv8o4x.png');
  background-size: cover;
}
