// Specific CSS for your home-page
.home-first {

  video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
}

.home-first-content {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  @include absCenterColumn;

  & h1, h2 {
    font-family: $primary-font;
    color: white;
  }

  & h1 {
    font-size: 88px;
    font-weight: 700;
  }

  & h2 {
    font-size: 32px;
    font-weight: 400;
  }

  @include for-phone-only {

    & img:first-child {
      width: 200px;
    }

    & h2 {
      font-size: 22px;
    }

    & h1 {
      font-size: 60px;
    }

    & img:last-child {
      width: 230px;
    }
  }
}


.home-second {
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1566832208/uganda_safari_home_1_rzjvsw.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-second-content {
  padding: 0 40px;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  @include absColumnFS;
  color: white;

  hr {
    display: block;
    width: 30px;
    clear: both;
    border-bottom: 4px solid white;
  }

  & h1,h2 {
    font-family: $primary-font;
  }

  & h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  & h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  & p {
    text-align: left;
    font-weight: 200;
    width: 800px;
    line-height: 30px;
    font-size: 18px;
    font-family: $secondary-font;
    margin-bottom: 60px;
  }

  @include for-medium-devices-down {

    & h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    & h2 {
      font-size: 46px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 80vw;
      font-size: 18px;
    }
  }

  @include for-phone-only {
    padding: 0 20px;

    hr {
      width: 20px;
      border-bottom: 3px solid white;
    }

    & h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    & h2 {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 86vw;
      line-height: 25px;
      font-size: 14px;
      margin-bottom: 60px;
    }
  }

  @include for-small-phone-only {
    padding: 0 20px;

    hr {
      width: 20px;
      border-bottom: 3px solid white;
    }

    & h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    & h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 90vw;
      line-height: 25px;
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

}

.home-third {
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1566832724/uganda_safari_home_2_dqqvez.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-third-content {
  padding: 0 40px;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  @include absColumnFE;
  color: white;

  hr {
    display: block;
    width: 30px;
    clear: both;
    border-bottom: 4px solid white;
  }

  & h1,h2 {
    font-family: $primary-font;
  }

  & h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  & h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
  }

  & p {
    text-align: right;
    font-weight: 200;
    width: 800px;
    line-height: 30px;
    font-size: 18px;
    font-family: $secondary-font;
    margin-bottom: 60px;
  }

  @include for-medium-devices-down {

    & h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    & h2 {
      font-size: 46px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 80vw;
      font-size: 18px;
    }
  }

  @include for-phone-only {
    padding: 0 20px;

    hr {
      width: 20px;
      border-bottom: 3px solid white;
    }

    & h1 {
      font-size: 30px;
      margin-bottom: 40px;
    }

    & h2 {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 86vw;
      line-height: 25px;
      font-size: 14px;
      margin-bottom: 60px;
    }
  }

  @include for-small-phone-only {
    padding: 0 20px;

    hr {
      width: 20px;
      border-bottom: 3px solid white;
    }

    & h1 {
      font-size: 23px;
      margin-bottom: 20px;
    }

    & h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    & p {
      width: 90vw;
      line-height: 25px;
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

}

.home-fourth {
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/v1566832723/uganda_safarI_home_3_j85dld.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
  background-color: white;
}
