.preparation-first {
  height: 60vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1566921770/ugandan-safari-preparation_mipwmb.png');
  background-size: cover;
}

.preparation-second {
  height: 100vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/trailblazer-safari/image/upload/q_auto/v1566986638/ugandan-safari-preparation-two_let2xm.png');
  background-size: cover;
}
