<div class="about-first">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Meet Our Dream Team</h1>
</div>
<div class="about-second">

</div>
<div class="about-third">
  <div class="about-third-left">
    <div>
      <hr align="left"><h2>ABOUT US</h2>
    </div>
    <h1>Corporate Responsibility</h1>
    <p>
      Besides giving you the best service, at Trailblazer we are committed to helping the youth of Uganda.
      <br><br>
      Trailblazer Company actively donates to the Stree Child Foundation.
      <br><br>
      Since 2008, The Street Child Foundation has helped over 200,000 children go to school and learn and supported over 15,000 families to set up businesses so they can afford the cost of educating their children long-term.
      <br><br>
      Our company is setting an example in our country and with your contributions we'll be able to promote not only but our local economy but good practices in company culuture.
    </p>
  </div>
  <div class="about-third-right">
    <%= cl_image_tag("ugandan-safari-about-corporate_csg2uj.png", :quality=>"auto") %>
  </div>
</div>
<div class="about-fourth">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Partnerships</h1>
</div>
