<div class="swiper-container">
  <div class="home swiper-wrapper">
    <section class="home-first swiper-slide">
      <%= cl_video_tag("ugandasafarifire_srpn97", :audio_codec=>"none", :effect=>"fade:1000", :autoplay=> true, :quality=>"auto", :loop=> true, :controls=> false) %>
    </section>
    <section class="home-second swiper-slide">

    </section>
    <section class="home-third swiper-slide">

    </section>
    <section class="home-fourth swiper-slide">

    </section>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
<!--   <span class="swiper-button-next">O</span>
  <span class="swiper-button-prev">L</span> -->
</div>
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
      direction: 'vertical',
      slidesPerView: 1,
      spaceBetween: 30,
      mousewheel: true,
      uniqueNavElements: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
  });
</script>
